name: Pull Request Auto Merge

on:
  pull_request:
    branches:
      - main

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    if: ${{ !github.event.pull_request.draft }}

    steps:
    - name: Enable auto-merge for Dependabot Dependabot Pull Request
      run: |
        gh pr review --approve "$PR_URL"
        gh pr merge --auto --squash "$PR_URL"
      env:
        PR_URL: ${{github.event.pull_request.html_url}}
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
